<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="container">
      <div class="site-footer__content">
        <ul class="site-footer__social">
          {% for socialItem in site.data.social_links | sort: 'position' %}
            <a class="site-footer__social__link" href="{{socialItem['url']}}" title="{{ socialItem['type']}}" target="_blank">
              {% assign template = socialItem['icon_template'] %}
              {% include {{template}} %}
            </a>
          {% endfor %}
        </ul>
        <ul class="site-footer__menu">
          {% for item in site.data.menu_items %}
            {% assign key = item['key'] %}
            <li>
              <a class="site-footer__menu__link" href="{{ page | to_url: key }}">
                {% t item['i18n'] %}
              </a>
            </li>
          {%  endfor %}
          <li>
            {% include language-button.html class='site-footer__menu__link' placement='top' %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% include language-menu.html %}
</footer>
