<header class="header" role="banner">
  <div class="container">
    <div class="header__content">
      {% assign root_url =  page | to_url: 'root' %}
      <div class="logo">
        <a href="{{root_url}}">
          {% include logo.html %}
        </a>
      </div>
      <ul class="header__nav">
        {% for item in site.data.menu_items %}
          {% assign key = item['key'] %}
          <li>
            <a class="header__nav__item {{ page | active_menu: key, 'header__nav__item' }}" href="{{ page | to_url: key }}">
              {% t item['i18n'] %}
            </a>
          </li>
        {%  endfor %}

      </ul>

      <button class="js-header-mobile header__hamburger">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
    </div>
  </div>
</header>

<ul class="js-mobile-menu mobile-menu">
{% for item in site.data.menu_items %}
  {% assign key = item['key'] %}
  <li>
    <a class="mobile-menu__link {{ page | active_menu: key, 'mobile-menu__link' }}" href="{{ page | to_url: key }}">
      {% t item['i18n'] %}
    </a>
  </li>
  {%  endfor %}
</ul>
