<header class="header" role="banner">
  <div class="container">
    <div class="header__content">
      <div class="logo">
        {% include logo.html %}
      </div>
      <ul class="header__nav">
        <li><a class="js-scroll-header-item header__nav__item" href="#story">Nuestra historia</a></li>
        <li><a class="js-scroll-header-item header__nav__item" href="#team">El equipo</a></li>
        <li><a class="header__nav__item" href="#">Espectaculos</a></li>
        <li><a class="header__nav__item" href="#">Cursos</a></li>
        <li><a class="header__nav__item" href="#">Galeria</a></li>
        <li><a class="header__nav__item" href="#">Blog</a></li>
      </ul>
    </div>
  </div>
</header>
