.closeModal {
  background: transparent;
  border: 0;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  color: black;
  opacity: .8;
}

.modal-backdrop {
  background-color: white;
  opacity: .95;
}
.modal {
  &--fullscreen &-content {
    background: transparent;
    box-shadow: none;
    border: 0;
  }
}
