---
layout: page
---
<section class='blog'>
    <ul class='list'>
      {% for post in site.posts %}
        <li>
          <time class='time'>
            {% assign date_format = default: '%b %-d, %Y' %}
            {{ post.date | date: date_format }}
          </time>
          <h2>
            <a class='link' href='{{ post.url | relative_url }}' role='link'>{{ post.title }}</a>
          </h2>
          <p class='meta'>
            {{ post.intro }}
          </p>
        </li>
      {% endfor %}
    </ul>
</section>
