---
layout: page
---
<div class="home_splash" style="background-image: url('{{ page.image_url }}')">
  <div class="container home_splash__content">
    <blockquote cite="http://www.aat.es/elkioscoteatral/las-puertas-del-drama/drama-43/entrevista-a-sanchis-sinisterra-compartir-el-no-saber-es-tan-bonito-y-estimulante-como-compartir-el-saber">
      <p class="quotation">
        La historia del Arte es la historia de experiencias artísticas que modifican el horizonte de expectativas.
      </p>
      <div class="quotation__footer">— José Sanchis Sinisterra</div>
    </blockquote>
  </div>
</div>

<div class="container" id="story">
  <div class="block story">
    <h2 class="story__title">{% t 'main_menu.story' %}</h2>
    <div class="story__content">{{ page.intro_text | markdownify  }}</div>
  </div>
</div>
