---
layout: page
---
<!-- Image gallery -->
<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

<!--Teaser video modal-->
<div id="modalTeaser" class="modal modal--fullscreen fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content teaser__modal">
      <div class="content">
        <button type="button" class="closeModal" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <iframe id="modalTeaserVideo" src="{{ page.teaser.player_url }}?title=0&byline=0&portrait=0" frameborder="0" width="900" height="505" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<!-- Teaser banner -->
<div class="teaser" style="background-image: url({{ page.teaser.thumbnail_url }})">
  <div class="teaser__overlay"></div>
  <iframe id="teaser" class="teaser__iframe" src="{{ page.teaser.player_url }}?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1&mute=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <div class="teaser__play">
    <div data-toggle="modal" data-target="#modalTeaser" id="teaserPlay" class="playButton"></div>
  </div>
  <!--Include the Vimeo API Library-->

  <div class="teaser__info">
    <div class="container">
      <div class="teaser__infoContent">
        {% if page.teaser.title %}
          <a href="{{page.teaser.url}}" target="_blank" class="teaser__title">
            {% t 'teaser.title': page.teaser.title %}
          </a>
        {% endif %}
        <h1>{{ page.title }}</h1>
        <div class="teaser__directed">
          <span>{% t 'common.directed_by' %}:</span>
          {{ page.directed_by }}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Play gallery -->
{% if page.gallery.size %}
  <div class="container">
    <div id="playGallery" class="playGallery">
      {% for image in page.gallery %}
        <a
          class="playGallery__item"
          href="{{ image.url}}"
          title="{{ image.title }}"
          data-gallery
          style="background-image: url({{ image.thumbnail_url }});"
        ></a>
      {% endfor %}
    </div>
  </div>
{% endif %}

<!-- Play info -->
<div class="playInfo">
  <div class="container playInfo__container">
    <div class="playInfo__content">
      <div class="playInfo__synopsis">
        <h2>Synopsis</h2>
        {{ page.synopsis | markdownify }}
      </div>

      <div class="playInfo__technicalCrew">
        {% for cast in page.cast %}
          {% include show/crew_group_text.html cast=cast %}
        {% endfor %}
      </div>
    </div>
    <div class="playInfo__crew">
      {% include show/crew_group.html title='actors' group=page.actors %}
    </div>
  </div>
</div>

