$post_height: 35rem;
.posts {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $sm) {
    flex-direction: row;
    .post {
      margin-right: 2rem;
      width: calc(50% - 2rem);
      &:nth-child(2) {
        margin-right: 0;
        width: 50%;
      }
    }
  }
}

.post {
  box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02);
  padding: 2rem;
  margin-bottom: 2rem;
  h2 {
    @include font_size(1.8);
    color: $grey1;
    margin-top: 0;
    a {
      text-decoration: underline;
    }
  }
  p {
    margin: 0;
    @include font_size(1.4);
    line-height: 1.6;
    color: $grey2;
  }
  &__meta {
    margin-top: 1rem;
    display: flex;
    align-items: flex-end;
    &__text {
      @include font-size(1.3);
      line-height: 1.4;
      font-weight: 300;
      color: $grey3;
      time {
        text-transform: capitalize;
      }
    }
  }
  &__author {
    &__name {
      @include font_size(1.5);
      line-height: 1.4;
      color: $grey2;
      margin: 0;
    }
    &__avatar {
      margin-right: .5rem;
      opacity: .5;
      img {
        border-radius: 100%;
        overflow: hidden;
      }
    }
  }

  &:hover &__author__avatar {
    opacity: 1;
  }
  &:hover &__author__name {
    color: $grey1;
  }
}

.post-detail {
  &__header {
    min-height: 35rem;
    position: relative;
    &__image {
      background-size: cover;
      background-repeat: no-repeat;
      background-color: black;
      background-position: center center;
      box-shadow: inset 0 0 100rem rgba(0, 0, 0, .6);
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &__content {
      height: $post_height;
      position: relative;
      z-index: 2;
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0, 0, 0, .9) 80%);
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0, 0, 0, .9) 80%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, .9) 80%);
    }

    &__content-inner {
      position: absolute;
      bottom: 5rem;
    }
    &__title {
      font-size: 3rem;
      font-weight: 300;
      font-family: $sans;
      color: white;
      margin: .4rem 0;
    }

    &__meta {
      margin-top: 1rem;
      display: flex;
      align-items: flex-end;
      &__text {
        @include font-size(1.3);
        line-height: 1.4;
        font-weight: 300;
        color: rgba(255, 255, 255, .5);
        time {
          color: rgba(255, 255, 255, .8);
          text-transform: capitalize;
        }
      }

      &__author {
        &__name {
          @include font_size(1.5);
          line-height: 1.4;
          color: $brand;
          margin: 0;
        }
        &__avatar {
          margin-right: .5rem;
          img {
            border-radius: 100%;
            overflow: hidden;
            border: .1rem solid white;
          }
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
  }

  &__text {
    p {
      @include font-size(1.8);
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__sidebar {
    min-width: 30rem;
  }

  &__event {
    order: 0;
  }

  &__narrowContainer {
    max-width: 75rem;
  }

  &__narrowContainer &__content {
    flex-direction: column;
  }
}
