.home_splash {
  background-size: cover;
  background-position: top center;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: .8;
  }

  &__content {
    height: 50rem;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 3rem;
  }

  .quotation {
    color: rgba(white, .9);
    font-size: 3rem;
    line-height: 1.4;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 1rem 2rem;

    &:before {
      font-size: 3em;
      color: $brand;
      content: open-quote;
      display: inline;
      height: 0;
      line-height: 0;
      left: - 1rem;
      position: relative;
      top: 3rem;
    }

    &__footer {
      @include font_size(1.5);
      color: rgba(white, .7);
      margin:0;
      text-align: right;
    }
  }
}

.story {
  display: flex;
  flex-direction: row;

  &__title {
    margin: 0 2rem 0 0;
    min-width: 30rem;
    text-align: right;
  }
  &__content {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    p {
      flex-basis: 100%;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.teams {
  flex: 1 1 auto;
}

.team {
  margin-bottom: 4rem;
  width: 100%;
  &__title {
    margin: 0 0 3rem 0;
    padding: .4rem;
    text-align: center;
    position: relative;
    &:after {
      content: '';
      background-color: $brand;
      position: absolute;
      left: calc(50% - 5rem);
      bottom: -1rem;
      height: .2rem;
      width: 10rem;
    }
  }

  &__members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__member {
    margin-bottom: 1rem;
    width: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__avatar {
      width: 12rem;
      height: 12rem;
      border-radius: 100rem;
      border: .2rem solid $brand;
    }

    &__name {
      @include font_size(1.6);
      font-weight: 300;
    }

    &__role {
      @include font_size(1.1);
    }
  }
}
