body {
  background-color: $footer_color;
  display: flex;
  flex-direction: column;
}

.wrapper {
  z-index: 1;
}
.container {
  margin: 0 auto;
  max-width: $container_width;
  padding: 0 2.5rem;
}

.content {
  background-color: white;
  padding-top: $header_height;
  @media only screen and (min-width: $sm) {
    padding-top: $header_height_big;
  }
}

.block {
  padding-bottom: 4.8rem;
  margin-bottom: 4.8rem;
}
